.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    padding: 0;
    color: #c8aa8c;
    background-color: #2e2e2e;
}
.welcome > div {
    display: block;
    height: auto;
    align-self: center;
    font-family: 'Pacifico', cursive;
}
.welcome .title {
    margin: 1rem;
}
.welcome .title > span {
    position: relative;
}
#yoosh {
    font-size: 7em;
    top: -0.2em;
    left: 0.1em;
}
#slash {
    font-size: 2.8em;
    font-weight: lighter;
}
#nn {
    font-size: 4.2em;
    right: 0.1em;
}
.welcome .links {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
}
.welcome .links a {
    color: #975948;
    text-decoration: none;
    margin: 0 0.3rem;
}

@media only screen and (max-width: 900px) {
    #yoosh {
        font-size: 5em;
        top: -0.2em;
        left: 0.1em;
    }
    #slash {
        font-size: 2em;
        font-weight: lighter;
    }
    #nn {
        font-size: 3em;
        right: 0.1em;
    }
}
