@import url('style-welcome.css');
@import url('style-content.css');

html,
body {
  margin: 0;
  padding: 0;
  width: auto;
}
.wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-bottom: 2rem;
}
.welcome {
  height: 100vh;
  background-color: #2e2e2e;
}

ul {
  padding-left: 2rem;
  margin-top: 0;
}
ul > li {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.5rem;
}

.sub-detail {
  margin-top: 0em;
  margin-left: 1em;
  font-size: 0.95em;
  color: #606060;
  line-height: 1.5;
}
